
body{
  background-color: gray;
  /*font-family: sans-serif;*/
  font-family: serif "Georgia";
  /*font-size: 12px;*/
}
/* START coverletter*/
#from_me{
  font-size: large;
  font-weight: bold;
  text-align: center;
}
#contact_info{
  text-align: center;
}
/*END coverletter*/


#page{
  background-color: white;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#table{
  display: block;
  /*border: solid 1px black;*/
  border-top: solid 1px silver;
  margin-bottom: 3px;
  margin-top: 3px;
}
.tr{
  display: table-row;
  /*display: block;*/
  /*border: solid 1px;*/
  /*border: ridge 10px black;*/
  /*border-bottom: solid 1px black;*/
}
.tr_title{  
  border-bottom: solid 2px silver;
  border-right: solid 1px silver;
  display: table-cell;
  /*padding: 2px;*/
  vertical-align: top;
  width: 15%;
}
.tr_value{
  border-bottom: solid 1px silver;
  display: table-cell;
  padding: 3px;
  width: 60%;
}
.table{
  /*border: ridge 10px chartreuse;*/
  display: block;
  margin: 0;
  margin-top: 5px;

}
.t_row{
  /*border: ridge 5px chocolate;*/
  display: block;
}
.occ_name_time{
  /*border: ridge 10px blue;*/
  /*display: block;*/
  margin: auto;
  width: 100%;
}
.occ_name{
  /*border: ridge 10px chartreuse;*/
  font-weight: bold;
  display: table-cell;
  width: 50%;
}
.occ_time{
  /*border: ridge 10px red;*/
  display: table-cell;
  /*font-style: italic;*/
  /*color: gray;*/
  text-align: right;
  /*float: right;*/
  width: 20%;
}
.occ_place{
  /*border: ridge 10px green;*/  
}

.bar{
  /*background-color: silver;*/
  background-color: #C1D5F8; /*shade of cornflowerblue*/
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}
#goal{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
#my_name{
  text-align: center;
  font-weight: bold;
  font-size: large;
  /*border: solid 1px;*/
}
#my_address{
  text-align: center;
  font-size: 14px;
}

.projects{
  font-weight: bold;
  font-style: italic;
  padding-left: 25px;
}
.prj_list{
  /*padding-left: 10px;*/
}
.highlights li{
  margin-top: 5px;
}
ul { 
  margin-top: 0; 
  margin-bottom: 0; 
}
/*p + p { margin-top: 15px; }*/
/*div + ul { margin-top: 3px; }*/
/*ul + div { margin-top: 3px; }*/
table{
  margin-top: 5px;
}
